@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

h1{
    font-weight: 700;
    padding: 0 12px 0 12px;
    color: var(--slate900);
}

p{
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px 0 20px;
    color: var(--slate500);
}

.container{
    text-align: center;
    background-color: white;
    max-width: 375px;
    margin: 20vw auto;
    box-shadow: 0px 20px 20px -2px hsl(213, 45%, 80%);;
    border-radius: 20px;
    padding: 20px;
}

body{
    background-color: var(--slate300);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

img{
    width: 100%;
    border-radius: 20px;
}